<!-- about.html -->

{% extends 'layout.html' %}

{% block title %}Acerca de{% endblock %}

{% block content %}
<h2>Acerca de</h2>
<p>El desarrollo de la técnica PCR  por Kary B. Mullis  (Mullis, 1990; Mullis & Faloona, 1987) ha sido fundamental para el surgimiento de diversas técnicas de amplificación de ácidos nucleicos (Nucleic Acid Amplification Techniques, NAATs), como son qPCR , RT-PCR , qRT-PCR , LAMP , etc. Cada una de estas técnicas proporciona características distintivas en términos de sensibilidad, especificidad, simplicidad, estabilidad y costo (Kang et al., 2022). 
    En el campo de la biotecnología, las pruebas de NAATs son comunes y se utilizan ampliamente para el diagnóstico de agentes patógenos de interés clínico, zoonosis, diagnóstico genético, seguridad e inocuidad alimentaria, pruebas forenses, marcadores tumorales, medicina traslacional, epidemiología, entre otras aplicaciones (Wang et al., 2023). 
    Durante la pandemia de SARS-CoV-2/COVID-19, las NAATs se enfrentaron a un gran desafío la gestión de pruebas masivas y el control de calidad. Durante este periodo resaltó una preocupación significativa los laboratorios de diagnóstico no lograban asegurar la calidad de manera óptima (Vacaflores Salinas et al., 2022).
    Entre los factores que afectan una adecuada trazabilidad que permitan una estandarización o seguimiento adecuado de reportes encontramos la diversidad de protocolos, metodología, reactivos y formatos de informes. La falta de un consenso unificado, como se señala por (Bustin et al., 2009), ha impactado la calidad y la reproducibilidad limitada de los resultados en los experimentos de NAATs, evidenciando una carencia de detalles en los informes publicados.
    </p>
{% endblock %}
