{% extends 'dashboard.html' %}

{% block title %}Contacto{% endblock %}

{% block content %}
<h2 style="margin-top: 150px; margin-bottom: 40px; font-size: 40px">Contacto</h2>
<p style="font-size: 30px; line-height: 2.0;">¡Nos encantaría saber de ti! Puedes contactarnos a través de los siguientes medios:</p>
<p style="font-size: 30px; line-height: 2.5;"> <!-- Ajusta el tamaño del texto y el interlineado -->
    <strong>Email:</strong> ecruz1800@gmail.com<br>
    <strong>Teléfono:</strong> 7224984473 <br>
    <strong>Redes Sociales:</strong> Facebook: Estrella Manzo <br>
</p>
{% endblock %}

