{% extends "layout.html" %}

{% block title %}
    Diseño experimental
{% endblock %}

{% block content %}
    <h1>Diseño experimental</h1>
    <form action="/design" method="POST">
        {{ form.hidden_tag() }}
        <div>
            {{ form.group_control_definition.label }}
            {{ form.group_control_definition(class="form-control") }}
            {% if form.group_control_definition.errors %}
                <ul>
                    {% for error in form.group_control_definition.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div>
            {{ form.group_experimental_definition.label }}
            {{ form.group_experimental_definition(class="form-control") }}
            {% if form.group_experimental_definition.errors %}
                <ul>
                    {% for error in form.group_experimental_definition.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div>
            {{ form.group_control_number.label }}
            {{ form.group_control_number(class="form-control") }}
            {% if form.group_control_number.errors %}
                <ul>
                    {% for error in form.group_control_number.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div>
            {{ form.group_experimental_number.label }}
            {{ form.group_experimental_number(class="form-control") }}
            {% if form.group_experimental_number.errors %}
                <ul>
                    {% for error in form.group_experimental_number.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
{% endblock %}
