<!-- info.html -->

{% extends "layout.html" %}

{% block title %}
    Información general
{% endblock %}

{% block content %}
    <h1>Información general</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.experiment_date.label }}
            {{ form.experiment_date(class="form-control") }}
            {% for error in form.experiment_date.errors %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.experiment_number.label }}
            {{ form.experiment_number(class="form-control") }}
            {% for error in form.experiment_number.errors %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.principal_investigator.label }}
            {{ form.principal_investigator(class="form-control") }}
            {% for error in form.principal_investigator.errors %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.institution_lab.label }}
            {{ form.institution_lab(class="form-control") }}
            {% for error in form.institution_lab.errors %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="form-group">
            <input type="submit" value="Enviar" class="btn btn-primary">
        </div>
    </form>
{% endblock %}