<!--reverse.html -->
{% extends "dashboard.html" %}

{% block title %}
    Información sobre transcripción inversa
{% endblock %}

{% block content %}
    <h1 style="margin-top: 20px; margin-bottom: 5px; font-size: 40px; line-height: 2.0;">Información sobre transcripción inversa</h1> <!-- Ajustes de tamaño y espacio para el título -->
    <form method="POST">
        {{ form.hidden_tag() }}
        <div style="margin-bottom: 10px;">
            <label style="font-size: 25px;">{{ form.reaction_conditions.label }}</label>
            {{ form.reaction_conditions(class="form-control", style="font-size: 23px;") }}
            {% if form.reaction_conditions.errors %}
                <ul class="errors">
                    {% for error in form.reaction_conditions.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div style="margin-bottom: 10px;">
            <label style="font-size: 25px;">{{ form.rna_quantity.label }}</label>
            <button type="button" class="btn btn-sm btn-secondary" onclick="toggleHelp('rnaQuantityHelp')">?</button>
            <small id="rnaQuantityHelp" style="display: none; font-size: 18px; margin-top: 5px; color: #6c757d;">
                La cantidad de ARN se refiere a la cantidad de ARN que se utilizará en la reacción de transcripción inversa. Puedes especificar la cantidad en términos de masa o volumen, dependiendo de tu protocolo experimental.
        
                Ejemplo: "Utilicé 1 μg de ARN total extraído como entrada para la reacción de transcripción inversa."
            </small>
            {{ form.rna_quantity(class="form-control", style="font-size: 23px;") }}
            {% if form.rna_quantity.errors %}
                <ul class="errors">
                    {% for error in form.rna_quantity.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div style="margin-bottom: 10px;">
            <label style="font-size: 25px;">{{ form.reaction_volumes.label }}</label>
            <button type="button" class="btn btn-sm btn-secondary" onclick="toggleHelp('reactionVolumesHelp')">?</button>
            <small id="reactionVolumesHelp" style="display: none; font-size: 18px; margin-top: 5px; color: #6c757d;">
                Los volúmenes de reacción se refieren a las cantidades de los diferentes componentes utilizados en la reacción de transcripción inversa. Esto incluye la cantidad de ARN, primers, transcriptasa inversa, y otros reactivos necesarios para la síntesis de ADNc.
        
                Ejemplo: "Utilicé 1 μg de ARN total en una reacción de transcripción inversa de 20 μL que contenía 10 μL de mezcla de transcriptasa y 2 μL de primer."
            </small>
            {{ form.reaction_volumes(class="form-control", style="font-size: 23px;") }}
            {% if form.reaction_volumes.errors %}
                <ul class="errors">
                    {% for error in form.reaction_volumes.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div style="margin-bottom: 10px;">
            <label style="font-size: 25px;">{{ form.reverse_transcriptase_oligo_priming.label }}</label>
            {{ form.reverse_transcriptase_oligo_priming(class="form-control", style="font-size: 23px;") }}
            {% if form.reverse_transcriptase_oligo_priming.errors %}
                <ul class="errors">
                    {% for error in form.reverse_transcriptase_oligo_priming.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div style="margin-bottom: 10px;">
            <label style="font-size: 25px;">{{ form.reverse_transcriptase_oligo_concentration.label }}</label>
            <button type="button" class="btn btn-sm btn-secondary" onclick="toggleHelp('oligoConcentrationHelp')">?</button>
            <small id="oligoConcentrationHelp" style="display: none; font-size: 18px; margin-top: 5px; color: #6c757d;">
                La concentración de oligonucleótidos de cebado inverso se refiere a la cantidad de cebadores de transcriptasa inversa (oligonucleótidos) utilizados en la reacción de transcripción inversa. Estos cebadores son esenciales para iniciar la síntesis del ADN complementario (ADNc) a partir del ARN.
        
                Ejemplo: "Utilicé una concentración final de 0.5 μM de cebadores de transcriptasa inversa en la reacción de transcripción inversa."
            </small>
            {{ form.reverse_transcriptase_oligo_concentration(class="form-control", style="font-size: 23px;") }}
            {% if form.reverse_transcriptase_oligo_concentration.errors %}
                <ul class="errors">
                    {% for error in form.reverse_transcriptase_oligo_concentration.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div style="margin-bottom: 10px;">
            <label style="font-size: 25px;">{{ form.reverse_transcriptase_type.label }}</label>
            {{ form.reverse_transcriptase_type(class="form-control", style="font-size: 23px;") }}
            {% if form.reverse_transcriptase_type.errors %}
                <ul class="errors">
                    {% for error in form.reverse_transcriptase_type.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div style="margin-bottom: 10px;">
            <label style="font-size: 25px;">{{ form.reverse_transcriptase_concentration.label }}</label>
            <button type="button" class="btn btn-sm btn-secondary" onclick="toggleHelp('transcriptaseConcentrationHelp')">?</button>
            <small id="transcriptaseConcentrationHelp" style="display: none; font-size: 18px; margin-top: 5px; color: #6c757d;">
                La concentración de transcriptasa inversa se refiere a la cantidad de enzima de transcriptasa inversa utilizada en la reacción de transcripción inversa. Esta enzima es esencial para la síntesis del ADN complementario (ADNc) a partir del ARN.
        
                Ejemplo: "Utilicé una concentración final de 200 U/μL de transcriptasa inversa en la reacción de transcripción inversa."
            </small>
            {{ form.reverse_transcriptase_concentration(class="form-control", style="font-size: 23px;") }}
            {% if form.reverse_transcriptase_concentration.errors %}
                <ul class="errors">
                    {% for error in form.reverse_transcriptase_concentration.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        

        <div style="margin-bottom: 10px;">
            <label style="font-size: 25px;">{{ form.reverse_transcriptase_temperature.label }}</label>
            <button type="button" class="btn btn-sm btn-secondary" onclick="toggleHelp('transcriptaseTemperatureHelp')">?</button>
            <small id="transcriptaseTemperatureHelp" style="display: none; font-size: 18px; margin-top: 5px; color: #6c757d;">
                La temperatura de la transcriptasa inversa es la temperatura a la cual se lleva a cabo la reacción de transcripción inversa. Esta temperatura es crítica para la actividad óptima de la enzima y la estabilidad de la reacción.
        
                Ejemplo: "La reacción de transcripción inversa se realizó a una temperatura de 42°C durante 60 minutos."
            </small>
            {{ form.reverse_transcriptase_temperature(class="form-control", style="font-size: 23px;") }}
            {% if form.reverse_transcriptase_temperature.errors %}
                <ul class="errors">
                    {% for error in form.reverse_transcriptase_temperature.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div style="margin-bottom: 10px;">
            <label style="font-size: 25px;">{{ form.reverse_transcriptase_reaction_time.label }}</label>
            <button type="button" class="btn btn-sm btn-secondary" onclick="toggleHelp('transcriptaseReactionTimeHelp')">?</button>
            <small id="transcriptaseReactionTimeHelp" style="display: none; font-size: 18px; margin-top: 5px; color: #6c757d;">
                El tiempo de reacción de la transcriptasa inversa se refiere al período de tiempo durante el cual la enzima de transcriptasa inversa está activa y cataliza la síntesis de ADN complementario (cADN) a partir del ARN molde.
        
                Ejemplo: "La reacción de transcriptasa inversa se llevó a cabo durante 60 minutos a 42°C para la síntesis de cADN."
            </small>
            {{ form.reverse_transcriptase_reaction_time(class="form-control", style="font-size: 23px;") }}
            {% if form.reverse_transcriptase_reaction_time.errors %}
                <ul class="errors">
                    {% for error in form.reverse_transcriptase_reaction_time.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div style="margin-bottom: 10px;">
            <label style="font-size: 25px;">{{ form.reverse_transcriptase_manufacturer.label }}</label>
            <button type="button" class="btn btn-sm btn-secondary" onclick="toggleHelp('transcriptaseManufacturerHelp')">?</button>
            <small id="transcriptaseManufacturerHelp" style="display: none; font-size: 18px; margin-top: 5px; color: #6c757d;">
                El fabricante de la transcriptasa inversa se refiere a la compañía o proveedor que suministró la enzima de transcriptasa inversa utilizada en el proceso de transcripción inversa.
        
                Ejemplo: "La transcriptasa inversa utilizada fue de la marca Thermo Fisher Scientific (número de catálogo: RT256)."
            </small>
            {{ form.reverse_transcriptase_manufacturer(class="form-control", style="font-size: 23px;") }}
            {% if form.reverse_transcriptase_manufacturer.errors %}
                <ul class="errors">
                    {% for error in form.reverse_transcriptase_manufacturer.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div style="margin-bottom: 10px;">
            <label style="font-size: 25px;">{{ form.reverse_transcriptase_catalog_number.label }}</label>
            {{ form.reverse_transcriptase_catalog_number(class="form-control", style="font-size: 23px;") }}
            {% if form.reverse_transcriptase_catalog_number.errors %}
                <ul class="errors">
                    {% for error in form.reverse_transcriptase_catalog_number.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div style="margin-bottom: 10px;">
            <label style="font-size: 25px;">{{ form.cdna_storage_conditions.label }}</label>
            {{ form.cdna_storage_conditions(class="form-control", style="font-size: 23px;") }}
            {% if form.cdna_storage_conditions.errors %}
                <ul class="errors">
                    {% for error in form.cdna_storage_conditions.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div class="form-group">
            <input type="submit" value="Enviar" class="btn btn-primary" style="font-size: 25px; margin-top: 10px;"> <!-- Estilo para el botón -->
        </div>
    </form>
    <script>
        function toggleHelp(helpId) {
            const helpText = document.getElementById(helpId);
            if (helpText) {
                helpText.style.display = (helpText.style.display === 'none' || helpText.style.display === '') ? 'block' : 'none';
            }
        }
    </script>
{% endblock %}
