{% extends "layout.html" %}

{% block title %}
    Formulario de Transcripción Inversa
{% endblock %}

{% block content %}
    <h1>Formulario de Transcripción Inversa</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div>
            {{ form.reaction_conditions.label }}
            {{ form.reaction_conditions(class="form-control") }}
            {% if form.reaction_conditions.errors %}
                <ul>
                    {% for error in form.reaction_conditions.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div>
            {{ form.rna_quantity_volume.label }}
            {{ form.rna_quantity_volume(class="form-control") }}
            {% if form.rna_quantity_volume.errors %}
                <ul>
                    {% for error in form.rna_quantity_volume.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div>
            {{ form.oligo_priming_concentration.label }}
            {{ form.oligo_priming_concentration(class="form-control") }}
            {% if form.oligo_priming_concentration.errors %}
                <ul>
                    {% for error in form.oligo_priming_concentration.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div>
            {{ form.reverse_transcription_concentration.label }}
            {{ form.reverse_transcription_concentration(class="form-control") }}
            {% if form.reverse_transcription_concentration.errors %}
                <ul>
                    {% for error in form.reverse_transcription_concentration.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div>
            {{ form.primer_concentration.label }}
            {{ form.primer_concentration(class="form-control") }}
            {% if form.primer_concentration.errors %}
                <ul>
                    {% for error in form.primer_concentration.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div>
            {{ form.temperature_time.label }}
            {{ form.temperature_time(class="form-control") }}
            {% if form.temperature_time.errors %}
                <ul>
                    {% for error in form.temperature_time.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div>
            {{ form.reagent_manufacturer_catalog.label }}
            {{ form.reagent_manufacturer_catalog(class="form-control") }}
            {% if form.reagent_manufacturer_catalog.errors %}
                <ul>
                    {% for error in form.reagent_manufacturer_catalog.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div>
            {{ form.cqs_with_without_reverse_transcription.label }}
            {{ form.cqs_with_without_reverse_transcription(class="form-control") }}
            {% if form.cqs_with_without_reverse_transcription.errors %}
                <ul>
                    {% for error in form.cqs_with_without_reverse_transcription.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div>
            {{ form.dna_storage_conditions.label }}
            {{ form.dna_storage_conditions(class="form-control") }}
            {% if form.dna_storage_conditions.errors %}
                <ul>
                    {% for error in form.dna_storage_conditions.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div>
            {{ form.commercial_brand.label }}
            {{ form.commercial_brand(class="form-control") }}
            {% if form.commercial_brand.errors %}
                <ul>
                    {% for error in form.commercial_brand.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div>
            {{ form.batch.label }}
            {{ form.batch(class="form-control") }}
            {% if form.batch.errors %}
                <ul>
                    {% for error in form.batch.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
{% endblock %}
