<!--reverse.html -->
{% extends "layout.html" %}

{% block title %}
    Formulario de Transcripción Inversa
{% endblock %}

{% block content %}
    <h1>Formulario de Transcripción Inversa</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.reaction_conditions.label }}
            {{ form.reaction_conditions(class="form-control") }}
            {% if form.reaction_conditions.errors %}
                <ul class="errors">
                    {% for error in form.reaction_conditions.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.rna_quantity.label }}
            {{ form.rna_quantity(class="form-control") }}
            {% if form.rna_quantity.errors %}
                <ul class="errors">
                    {% for error in form.rna_quantity.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.reaction_volumes.label }}
            {{ form.reaction_volumes(class="form-control") }}
            {% if form.reaction_volumes.errors %}
                <ul class="errors">
                    {% for error in form.reaction_volumes.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.reverse_transcriptase_oligo_priming.label }}
            {{ form.reverse_transcriptase_oligo_priming(class="form-control") }}
            {% if form.reverse_transcriptase_oligo_priming.errors %}
                <ul class="errors">
                    {% for error in form.reverse_transcriptase_oligo_priming.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.reverse_transcriptase_oligo_concentration.label }}
            {{ form.reverse_transcriptase_oligo_concentration(class="form-control") }}
            {% if form.reverse_transcriptase_oligo_concentration.errors %}
                <ul class="errors">
                    {% for error in form.reverse_transcriptase_oligo_concentration.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.reverse_transcriptase_type.label }}
            {{ form.reverse_transcriptase_type(class="form-control") }}
            {% if form.reverse_transcriptase_type.errors %}
                <ul class="errors">
                    {% for error in form.reverse_transcriptase_type.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.reverse_transcriptase_concentration.label }}
            {{ form.reverse_transcriptase_concentration(class="form-control") }}
            {% if form.reverse_transcriptase_concentration.errors %}
                <ul class="errors">
                    {% for error in form.reverse_transcriptase_concentration.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.reverse_transcriptase_temperature.label }}
            {{ form.reverse_transcriptase_temperature(class="form-control") }}
            {% if form.reverse_transcriptase_temperature.errors %}
                <ul class="errors">
                    {% for error in form.reverse_transcriptase_temperature.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.reverse_transcriptase_reaction_time.label }}
            {{ form.reverse_transcriptase_reaction_time(class="form-control") }}
            {% if form.reverse_transcriptase_reaction_time.errors %}
                <ul class="errors">
                    {% for error in form.reverse_transcriptase_reaction_time.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.reverse_transcriptase_manufacturer.label }}
            {{ form.reverse_transcriptase_manufacturer(class="form-control") }}
            {% if form.reverse_transcriptase_manufacturer.errors %}
                <ul class="errors">
                    {% for error in form.reverse_transcriptase_manufacturer.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.reverse_transcriptase_catalog_number.label }}
            {{ form.reverse_transcriptase_catalog_number(class="form-control") }}
            {% if form.reverse_transcriptase_catalog_number.errors %}
                <ul class="errors">
                    {% for error in form.reverse_transcriptase_catalog_number.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.cdna_storage_conditions.label }}
            {{ form.cdna_storage_conditions(class="form-control") }}
            {% if form.cdna_storage_conditions.errors %}
                <ul class="errors">
                    {% for error in form.cdna_storage_conditions.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
{% endblock %}